In [1]:
library(tidyverse)
library(datasets)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [5]:
Humans <- starwars %>% 
  select(gender, mass, height, species) %>% 
  filter(species == "Human") %>% 
  na.omit()
head(Humans)

  gender mass height species
1 male    77  172    Human
2 male   136  202    Human
3 female  49  150    Human
4 male   120  178    Human
5 female  75  165    Human
6 male    84  183    Human

In [6]:
str(Humans)

Classes 'tbl_df', 'tbl' and 'data.frame':	22 obs. of  4 variables:
 $ gender : chr  "male" "male" "female" "male" ...
 $ mass   : num  77 136 49 120 75 84 77 84 80 77 ...
 $ height : int  172 202 150 178 165 183 182 188 180 170 ...
 $ species: chr  "Human" "Human" "Human" "Human" ...
 - attr(*, "na.action")= 'omit' Named int  9 17 18 20 21 24 25 26 28 30 ...
  ..- attr(*, "names")= chr  "9" "17" "18" "20" ...